.modal {
  font-family: poppins, Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__close-btn {
  background: rgba(255, 255, 255, 5);
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 8px;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  width: 630px;
  height: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.modal__label {
  color: rgba(33, 33, 33, 0.7);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
}

.modal__input {
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__submit-btn {
  font-size: 16px;
  color: rgba(252, 245, 229, 1);
  background-color: rgba(33, 33, 33, 1);
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  border: none;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal__container {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 24px;
  }
  .container {
    padding: 12px;
  }
  .modal__submit-btn {
    width: 100%;
  }
}
